<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Кинопутеводитель</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" rel="stylesheet">
    <link href="/static/style/phone_style.css" rel="stylesheet">
</head>

<body>
<div class="mid">
    <div class="main-wrapper wrap-cities">
        <div class="headline">
            <form @submit.prevent="searchFunc" class="container">
                <input id="searchInput" @focus="searchAnim" @blur="searchAnim" placeholder="Введите адрес и нажмите Enter"
                       type="text">
                <div class="search"></div>
            </form>
            <div class="title">Города</div>
            <a href="https://beta.loook.city/" class="back"></a>
        </div>
        <div class="contents">
            {% for city in data %}
                <a href="{{ city.href }}" class="cont gr">
                    <div class="el">
                        <span>{{ city.name }}</span>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
</div>
</body>
</html>