<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Кинопутеводитель</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" rel="stylesheet">
    <link href="/static/style/phone_style.css" rel="stylesheet">
</head>

<body>
<div class="mid">
    <div class="main-wrapper wrap-genres">
        <div class="headline">
            <div class="title">Жанры</div>
            <div class="krestik"></div>
        </div>
        <div class="contents">
            {% for genre in data %}
            <a href="{{ genre.href }}" class="cont gr">
                <div class="el">
                    <span>{{ genre.name }}</span>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
</body>
</html>