<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Кинопутеводитель</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="/favicon.ico" rel="icon" type="image/x-icon">
    <meta content="#FF422B1F" name="theme-color">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=0ebae56a-379d-4e2c-8821-bf1a67d366e2"
            type="text/javascript"></script>
    <script src="https://yandex.st/jquery/2.2.3/jquery.min.js" type="text/javascript"></script>
    <script src="/static/js/map.js" type="text/javascript"></script>
    <link href="/static/style/phone_style.css" rel="stylesheet">
    <!-- Прелоадер -->
    <style type="text/css">
        #preloader_preload {
            display: block;
            position: fixed;
            z-index: 99999;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            min-width: 1000px;
            background: #f6f6f6;
            background-size: 62px;
        }

        #preloader_preload img {
            position: absolute;
            left: calc(50vw - 31px);
            top: calc(50vh - 31px);
            width: 62px;
            height: 62px;
        }
    </style>
</head>

<body>
<div id="preloader">
    <div id="preloader_preload">
        <img src="https://beta.loook.city/static/img/preloader.svg">
    </div>
</div>
<div class="mid" id="root">
    <div class="main-wrapper" v-show="map">

        <!-- Карта -->
        <div class="map" id="map"></div>

        <!-- Поиск и фильтры -->
        <div class="header">
            <!-- Кнопка меню -->
            <div class="headerone">
                <button v-show="!search" class="brand">
                    <img alt="Кинопутеводитель" src="/static/img/kino.png">
                </button>
                <a v-show="!search" href="/add_point" class="container header_button addpoint"></a>
                <span v-show="!search" @click="changeMenuState" class="menu">МЕНЮ</span>
                <a v-show="!search" href="#" class="container header_button whitebell"></a>
                <form @submit.prevent="searchFunc" class="container">
                    <input id="searchInput" @focus="searchAnim" @blur="searchAnim" placeholder="Введите адрес и нажмите Enter"
                           type="text">
                    <div class="search"></div>
                </form>
            </div>
            <div class="filters" v-if="!addButtons && filterChosen === null">
                <span @click="OpenFilter(3)" class="filter">ФИЛЬМЫ</span>
                <span @click="OpenFilter(5)" class="filter">ЖАНРЫ</span>
                <span @click="OpenFilter(4)" class="filter">ГОДЫ</span>
                <span @click="changeButtons" class="filter">ДРУГОЕ</span>
            </div>
            <div class="filters" v-if="addButtons && filterChosen === null">
                <span @click="OpenFilter(2)" class="filterbig">ПЕРСОНАЖИ</span>
                <span @click="OpenFilter(1)" class="filterbig">РЕЖИССЕРЫ</span>
                <span @click="OpenFilter(0)" class="filterbig">АКТЕРЫ</span>
                <span @click="changeButtons" class="filtermin"> &lt;</span>
            </div>
            <div class="filters" v-if="filterChosen != null">
                <span @click="FilterRemoven" class="reset_filters">СБРОСИТЬ ФИЛЬТРЫ</span>
            </div>
        </div>
        <!-- Поп-ап с инф о проекте-->
        <div @click="closeFirstPopUp" v-if="firstPopUp" id="first_pop" class="menu_open nd">
            <div class="window">
                <div class="headertwo">
                    <img src="/static/img/brend.png">
                    <div id="first_x" class="krestik">
                    </div>
                </div>
                <div class="container">
                    <span>Добро пожаловать на сайт кинопутеводителя</span>
                </div>
            </div>
        </div>
        <!-- Поп-ап при нажатии на фрагмент-->
        <div @click="closePopUp" v-if="pointPopUp" id="pointPop" class="menu_open fr">
            <div class="window">
                <span>[[ currentFragment.movie.name ]]</span>
                <div class="headertwo">
                </div>
                <div id="x" class="krestik"></div>
                <!--с текстом-->
                <div class="fr_content">
                    <button class="more" v-if="moreThanOne" @click="previousFragment"><img
                            src="../../static/img/black_back.svg"></button>
                    <div class="fr_block">
                        <img :src="currentFragment.preview">
                        <div class="fr_text">
                            <span>[[ currentFragment.name ]]</span>
                            <button class="filterbig">Поделиться</button>
                            <button @click="OtherFragments(currentFragment.movie.id)" class="filterbig">Другие
                                фрагменты
                            </button>
                        </div>
                    </div>
                    <button class="more" @click="nextFragment"><img src="../../static/img/Vector.png"></button>
                </div>
            </div>
        </div>
    </div>

        <!-- Фильтр кино -->
        <div v-if="filterOpen" class="main-wrapper wrap-filt">
            <div class="headline">
                <div class="title">[[ filterNames[filterType] ]]</div>
                <div @click="closeFilter" class="krestik"></div>
            </div>
            <div class="contents contents_filt">
                <div v-for="value in info.filters[filterType]" class="filter_cont">
                    <label @click="filterData(value)" v-bind:for="value['id']">[[ value['name'] ]]</label>
                </div>
            </div>
        </div>
    <!-- Открытое меню -->
    <div class="grid-main-wrapper" v-if="menu">
        <div class="message">
            <a href="/feedback"></a>
        </div>
        <div class="city square">
            <a href="/cities">{{ city }}</a>
        </div>
        <div @click="changeMenuState" class="krest">
            <div></div>
        </div>
        <div class="new square">
            <a href="/new_movies{{ query }}">НОВИНКИ</a>
        </div>
        <div class="top square">
            <a href="/stories{{ query }}">ЛУЧШИЕ КИНО-РАССКАЗЫ</a>
        </div>
        <div class="film square">
            <a href="/movies{{ query }}">ФИЛЬМЫ</a>
        </div>
        <div class="year square">
            <a href="/decades{{ query }}">ГОДЫ</a>
        </div>
        <div class="genres square">
            <a href="/genres{{ query }}">ЖАНРЫ</a>
        </div>
        <div class="personage square">
            <a href="/heroes{{ query }}">ПЕРСОНАЖИ</a>
        </div>
        <div class="producer square">
            <a href="/producers{{ query }}">РЕЖИССЕРЫ</a>
        </div>
        <div class="actors square">
            <a href="/actors{{ query }}">АКТЕРЫ</a>
        </div>
        <div class="popular square">
            <a href="/popular_places{{ query }}">ПОПУЛЯРНЫЕ МЕСТА</a>
        </div>
        <div class="places square">
            <a href="/undefined_places{{ query }}">НЕОПОЗНАННЫЕ МЕСТА</a>
        </div>
    </div>
</div>
<!-- Скрипт вью -->
<script src="/static/js/main.js"></script>
<script type="text/javascript">
    var hellopreloader = document.getElementById("preloader_preload");

    function fadeOutnojquery(el) {
        el.style.opacity = 1;
        var interhellopreloader = setInterval(function () {
            el.style.opacity = el.style.opacity - 0.05;
            if (el.style.opacity <= 0.05) {
                clearInterval(interhellopreloader);
                hellopreloader.style.display = "none";
            }
        }, 16);
    }
</script>

</body>

</html>