<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Кинопутеводитель</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="/favicon.ico" rel="icon" type="image/x-icon">
    <meta content="#FF422B1F" name="theme-color">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=0ebae56a-379d-4e2c-8821-bf1a67d366e2"
        type="text/javascript"></script>
    <script src="https://yandex.st/jquery/2.2.3/jquery.min.js" type="text/javascript"></script>
    <script src="/static/js/map.js" type="text/javascript"></script>
    <link href="/static/style/phone_style.css" rel="stylesheet">

</head>

<body>
    <div class="mid" id="root">
        <div class="main-wrapper" v-show="map">

            <!-- Карта -->
            <div class="map" id="map"></div>

            <!-- Поиск и фильтры -->
            <div class="header">
                <!-- Кнопка меню -->
                <div class="headerone">
                    <button v-show="!search" class="brand">
                        <img alt="Кинопутеводитель" src="/static/img/kino.png">
                    </button>
                    <span v-show="!search" @click="changeMenuState" class="menu">МЕНЮ</span>
                    <a href="#" class="container bell whitebell"></a>
                    <form class="container">
                        <input @focus="searchAnim" @blur="searchAnim" placeholder="Search..." type="text">
                        <div class="search"></div>
                    </form>
                </div>
                <div class="filters" v-if="!addButtons">
                    <span class="filter">ФИЛЬМЫ</span>
                    <span class="filter">ЖАНРЫ</span>
                    <span class="filter">ГОДЫ</span>
                    <span @click="changeButtons" class="filter">ДРУГОЕ</span>
                </div>
                <div class="filters" v-else>
                    <span class="filterbig">ПЕРСОНАЖИ</span>
                    <span class="filterbig">РЕЖИССЕРЫ</span>
                    <span class="filterbig">АКТЕРЫ</span>
                    <span @click="changeButtons" class="filtermin"> &lt;</span>
                </div>
            </div>
            <!-- Поп-ап с инф о проекте-->
            <div class="menu_open nd">
                <div class="window">
                    <div class="headertwo">
                        <img src="/static/img/brend.png">
                        <div class="krestik">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Поп-ап при нажатии на фрагмент-->
            <div @click="closePopUp" v-if="pointPopUp" id="pointPop" class="menu_open fr">
                <div class="window">
                    <div class="headertwo">
                        <span>[[ currentFragment.name ]]</span>
                        <div id="x" class="krestik"></div>
                    </div>
                    <!--с текстом-->
                    <div class="fr_content" v-bind:class="{ without : !popUpText}">
                        <button v-if="moreThanOne" @click="previousFragment">&lt</button>
                        <img src="/static/img/kino.png">
                        <div class="fr_text">
                            <span v-if="popUpText">[[ currentFragment.short_description ]]</span>
                            <button class="filterbig">Другие фрагменты</button>
                        </div>
                        <button v-if="moreThanOne" @click="nextFragment">&gt</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Открытое меню -->
        <div class="grid-main-wrapper" v-if="menu">
            <div class="message">
                <a @click="feedbackPopUp" href="#"></a>
            </div>
            <div class="city">
                <input placeholder="Поиск">
            </div>
            <div @click="changeMenuState" class="krest">
                <div></div>
            </div>
            <div class="new square">
                <a href="/new_movies">НОВИНКИ</a>
            </div>
            <div class="town square">
                <a href="/new_movies">Города</a>
            </div>
            <div class="top square">
                <a href="/stories">ЛУЧШИЕ КИНО-РАССКАЗЫ</a>
            </div>
            <div class="film square">
                <a href="/movies">ФИЛЬМЫ</a>
            </div>
            <div class="year square">
                <a href="/decades">ГОДА</a>
            </div>
            <div class="genres square">
                <a href="/genres">ЖАНРЫ</a>
            </div>
            <div class="personage square">
                <a href="/heroes">ПЕРСОНАЖИ</a>
            </div>
            <div class="producer square">
                <a href="/producers">РЕЖИССЕРЫ</a>
            </div>
            <div class="actors square">
                <a href="/actors">АКТЕРЫ</a>
            </div>
            <div class="popular square">
                <a href="/popular_places">ПОПУЛЯРНЫЕ МЕСТА</a>
            </div>
            <div class="places square">
                <a href="/undefined_places">НЕОПОЗНАННЫЕ МЕСТА</a>
            </div>

            <!-- Поп-ап -->
            <div @click="feedbackPopUp" v-show="feedback" class="menu_open mn">
                <div class="window">
                    <div class="krestik"></div>
                    <div class="mn_content">
                        <ul>
                            <li><a href="/feedback">Оставить отзыв</a></li>
                            <li><a href="/add_point">Предложить место</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Фильтры -->
        <div class="main-wrapper wrap-filt">
            <div class="headline">
                <div class="title">ФИЛЬМ</div>
                <div class="krestik"></div>
            </div>
            <div class="contents contents_filt">
                <div class="filter_cont">
                    <input class="checkbox" id="checkbox" type="checkbox" />
                    <label for="checkbox">Режиссер, название фильма, год создания</label>
                </div>
                <div class="filter_cont">
                    <input class="checkbox" id="checkbox2" type="checkbox" />
                    <label for="checkbox2">Режиссер, название фильма, год создания</label>
                </div>
                <div class="filter_cont">
                    <input class="checkbox" id="checkbox3" type="checkbox" />
                    <label for="checkbox3">Режиссер, название фильма, год создания</label>
                </div>
                <div class="filter_cont">
                    <input class="checkbox" id="checkbox4" type="checkbox" />
                    <label for="checkbox4">Режиссер, название фильма, год создания</label>
                </div>
                <div class="filter_cont">
                    <input class="checkbox" id="checkbox5" type="checkbox" />
                    <label for="checkbox5">Режиссер, название фильма, год создания</label>
                </div>
                <div class="filter_cont">
                    <input class="checkbox" id="checkbox6" type="checkbox" />
                    <label for="checkbox6">Режиссер, название фильма, год создания</label>
                </div>
                <div class="filter_cont">
                    <input class="checkbox" id="checkbox7" type="checkbox" />
                    <label for="checkbox7">Режиссер, название фильма, год создания</label>
                </div>
            </div>
        </div>
    </div>
    <!-- Скрипт вью -->
    <script src="/static/js/main.js"></script>->
    <!-- Прелоадер -->
    <style type="text/css">
        #hellopreloader_preload {
            display: block;
            position: fixed;
            z-index: 99999;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            min-width: 1000px;
            background: #22313F url(http://hello-site.ru//main/images/preloads/ball-triangle.svg) center center no-repeat;
            background-size: 62px;
        }
    </style>
    <div id="hellopreloader">
        <div id="hellopreloader_preload"></div>
    </div>
    <script
        type="text/javascript">var hellopreloader = document.getElementById("hellopreloader_preload"); function fadeOutnojquery(el) { el.style.opacity = 1; var interhellopreloader = setInterval(function () { el.style.opacity = el.style.opacity - 0.05; if (el.style.opacity <= 0.05) { clearInterval(interhellopreloader); hellopreloader.style.display = "none"; } }, 16); } window.onload = function () { setTimeout(function () { fadeOutnojquery(hellopreloader); }, 1000); };</script>

</body>

</html>