<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Кинопутеводитель</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/static/style/phone_style.css" rel="stylesheet">
</head>
<body>
<div class="mid">
    <div class="main-wrapper {{ class }}">
        <div class="headline">
            <a href="#" class="loupe"></a>
            <div class="title">{{ title|upper }}</div>
            <a href="https://beta.loook.city/" class="back"></a>
        </div>
        <div class="contents">
            {% for person in data %}
            <a href="{{ person.href }}" class="cont hg">
                <div class="el">
                    <img class="el_person" src="{{ person.photo }}">
                    <div>
                        <span>{{ person.name }}</span>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>

    </div>
</div>
</body>
</html>