<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Кинопутеводитель</title>
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="/favicon.ico" rel="icon" type="image/x-icon">
    <meta content="#FF422B1F" name="theme-color">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link href="../../static/style/style_desktop.css" rel="stylesheet">
</head>
<body>
<div class="menu_desktop">
    <div class="message">
        <a href="/feedback"></a>
    </div>
    <button class="headertwo_text">новинки</button>
    <button class="headertwo_text">лучшие кинорассказы</button>
    <form>
        <input placeholder="Поиск">
    </form>
    <button class="headertwo_text">популярные места</button>
    <button class="headertwo_text">неопознаные места</button>
    <div class="krestik"></div>
</div>
<!--пустой контейнер-->
<div class="menu_desktop pos">
</div>
<div class="movies">
    <div class="menu_title">
        <div>Фильм</div>
        <a href="#">показать все</a>
    </div>
    <div class="contents">
        <div class="contents_box">
            <div class="movies_content">
                <div></div>
                <span class="element_title">Название фильма</span>
            </div>
            <div class="movies_content">
                <div></div>
                <span class="element_title">Название фильма</span>
            </div>
            <div class="movies_content">
                <div></div>
                <span class="element_title">Название фильма</span>
            </div>
            <div class="movies_content">
                <div></div>
                <span class="element_title">Название фильма</span>
            </div>
            <div class="movies_content">
                <div></div>
                <span class="element_title">Название фильма</span>
            </div>
            <div class="movies_content">
                <div></div>
                <span class="element_title">Название фильма</span>
            </div>
            <div class="movies_content">
                <div></div>
                <span class="element_title">Название фильма</span>
            </div>
        </div>
        <button><img src="../static/img/Vector.png"></button>
    </div>
</div>
<div class="years">
    <div class="menu_title">
        <div>Годы</div>
    </div>
    <div class="contents">
        <div class="contents_box">
            <div class="el yr">
                <div>1900-20-е годы</div>
            </div>
            <div class="el  yr">
                <div>1930-е годы</div>
            </div>
            <div class="el yr">
                <div>1940-е годы</div>
            </div>
            <div class="el yr">
                <div>1950-е годы</div>
            </div>
            <div class="el yr">
                <div>1960-е годы</div>
            </div>
            <div class="el yr">
                <div>1970-е годы</div>
            </div>
            <div class="el yr">
                <div>1980-е годы</div>
            </div>
            <div class="el yr">
                <div>1990-е годы</div>
            </div>
            <div class="el yr">
                <div>2000-е годы</div>
            </div>
            <div class="el yr">
                <div>2010-е годы</div>
            </div>
            <div class="el yr">
                <div>2020-е годы</div>
            </div>
        </div>
        <button><img src="../static/img/Vector.png"></button>
    </div>
</div>
<div class="genres">
    <div class="menu_title">
        <div>Жанры</div>
    </div>
    <div class="contents">
        <div class="contents_box">
            <div class="el">
                <div>Название жанра</div>
            </div>
            <div class="el">
                <div>Название жанра</div>
            </div>
            <div class="el">
                <div>Название жанра</div>
            </div>
            <div class="el">
                <div>Название жанра</div>
            </div>
            <div class="el">
                <div>Название жанра</div>
            </div>
            <div class="el">
                <div>Название жанра</div>
            </div>
            <div class="el">
                <div>Название жанра</div>
            </div>
            <div class="el">
                <div>Название жанра</div>
            </div>
            <div class="el">
                <div>Название жанра</div>
            </div>
            <div class="el">
                <div>Название жанра</div>
            </div>
            <div class="el">
                <div>Название жанра</div>
            </div>
        </div>
        <button><img src="../static/img/Vector.png"></button>
    </div>
</div>
<div class="personage">
    <div class="menu_title">
        <div>Персонажи</div>
        <a href="#">показать все</a>
    </div>
    <div class="contents">
        <div class="contents_box">
            <div class="personage_сontent">
                <div></div>
                <span class="element_title">Имя персонажа</span>
            </div>
            <div class="personage_сontent">
                <div></div>
                <span class="element_title">Имя персонажа</span>
            </div>
            <div class="personage_сontent">
                <div></div>
                <span class="element_title">Имя персонажа</span>
            </div>
            <div class="personage_сontent">
                <div></div>
                <span class="element_title">Имя персонажа</span>
            </div>
            <div class="personage_сontent">
                <div></div>
                <span class="element_title">Имя персонажа</span>
            </div>
            <div class="personage_сontent">
                <div></div>
                <span class="element_title">Имя персонажа</span>
            </div>
            <div class="personage_сontent">
                <div></div>
                <span class="element_title">Имя персонажа</span>
            </div>
            <div class="personage_сontent">
                <div></div>
                <span class="element_title">Имя персонажа</span>
            </div>
            <div class="personage_сontent">
                <div></div>
                <span class="element_title">Имя персонажа</span>
            </div>
            <div class="personage_сontent">
                <div></div>
                <span class="element_title">Имя персонажа</span>
            </div>
        </div>
        <button><img src="../static/img/Vector.png"></button>
    </div>
</div>
<div class="personage">
    <div class="menu_title">
        <div>Режиссеры</div>
        <a href="#">показать все</a>
    </div>
    <div class="contents">
        <div class="contents_box">
            <div class="personage_сontent">
                <div></div>
                <span class="element_title">Имя режиссера</span>
            </div>
            <div class="personage_сontent">
                <div></div>
                <span class="element_title">Имя режиссера</span>
            </div>
            <div class="personage_сontent">
                <div></div>
                <span class="element_title">Имя режиссера</span>
            </div>
            <div class="personage_сontent">
                <div></div>
                <span class="element_title">Имя режиссера</span>
            </div>
            <div class="personage_сontent">
                <div></div>
                <span class="element_title">Имя режиссера</span>
            </div>
            <div class="personage_сontent">
                <div></div>
                <span class="element_title">Имя режиссера</span>
            </div>
            <div class="personage_сontent">
                <div></div>
                <span class="element_title">Имя режиссера</span>
            </div>
            <div class="personage_сontent">
                <div></div>
                <span class="element_title">Имя режиссера</span>
            </div>
            <div class="personage_сontent">
                <div></div>
                <span class="element_title">Имя режиссера</span>
            </div>
            <div class="personage_сontent">
                <div></div>
                <span class="element_title">Имя режиссера</span>
            </div>
        </div>
        <button><img src="../static/img/Vector.png"></button>
    </div>
</div>
<div class="personage">
    <div class="menu_title">
        <div>Актеры</div>
        <a href="#">показать все</a>
    </div>
    <div class="contents">
        <div class="contents_box">
            <div class="personage_сontent">
                <div></div>
                <span class="element_title">Имя актера</span>
            </div>
            <div class="personage_сontent">
                <div></div>
                <span class="element_title">Имя актера</span>
            </div>
            <div class="personage_сontent">
                <div></div>
                <span class="element_title">Имя актера</span>
            </div>
            <div class="personage_сontent">
                <div></div>
                <span class="element_title">Имя актера</span>
            </div>
            <div class="personage_сontent">
                <div></div>
                <span class="element_title">Имя актера</span>
            </div>
            <div class="personage_сontent">
                <div></div>
                <span class="element_title">Имя актера</span>
            </div>
            <div class="personage_сontent">
                <div></div>
                <span class="element_title">Имя актера</span>
            </div>
            <div class="personage_сontent">
                <div></div>
                <span class="element_title">Имя актера</span>
            </div>
            <div class="personage_сontent">
                <div></div>
                <span class="element_title">Имя актера</span>
            </div>
            <div class="personage_сontent">
                <div></div>
                <span class="element_title">Имя актера</span>
            </div>
        </div>
        <button><img src="../static/img/Vector.png"></button>
    </div>
</div>
</body>
</html>