<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Кинопутеводитель</title>
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="/favicon.ico" rel="icon" type="image/x-icon">
    <meta content="#FF422B1F" name="theme-color">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link href="../static/style/style_desktop.css" rel="stylesheet">
</head>
<body>
    <div class="main-wrapper wrap-personage">
        <div class="menu_desktop">
            <div class="message">
                <a href="/feedback"></a>
            </div>
            <form>
                <input placeholder="Поиск">
            </form>
            <span class="filter_header">Все персонажи</span>
            <div class="krestik"></div>
        </div>
        <div class="menu_desktop pos">
        </div>
        <div class="contents_box filter_box">
            <div class="movies_content">
                <div></div>
                <span class="element_title">Имя личности</span>
            </div>
            <div class="movies_content">
                <div></div>
                <span class="element_title">Имя личности</span>
            </div>
            <div class="movies_content">
                <div></div>
                <span class="element_title">Имя личности</span>
            </div>
            <div class="movies_content">
                <div></div>
                <span class="element_title">Имя личности</span>
            </div>
        </div>
        <div class="contents_box filter_box">
            <div class="movies_content">
                <div></div>
                <span class="element_title">Имя личности</span>
            </div>
            <div class="movies_content">
                <div></div>
                <span class="element_title">Имя личности</span>
            </div>
            <div class="movies_content">
                <div></div>
                <span class="element_title">Имя личности</span>
            </div>
            <div class="movies_content">
                <div></div>
                <span class="element_title">Имя личности</span>
            </div>
        </div>
        <div class="contents_box filter_box">
            <div class="movies_content">
                <div></div>
                <span class="element_title">Имя личности</span>
            </div>
            <div class="movies_content">
                <div></div>
                <span class="element_title">Имя личности</span>
            </div>
            <div class="movies_content">
                <div></div>
                <span class="element_title">Имя личности</span>
            </div>
            <div class="movies_content">
                <div></div>
                <span class="element_title">Имя личности</span>
            </div>
        </div>
        <div class="contents_box filter_box">
            <div class="movies_content">
                <div></div>
                <span class="element_title">Имя личности</span>
            </div>
            <div class="movies_content">
                <div></div>
                <span class="element_title">Имя личности</span>
            </div>
            <div class="movies_content">
                <div></div>
                <span class="element_title">Имя личности</span>
            </div>
            <div class="movies_content">
                <div></div>
                <span class="element_title">Имя личности</span>
            </div>
        </div>
    </div>
    <div class="footer"></div>
</body>
</html>