.d1900s {
    background-color: #1F1E1C;
    color: #F6F6F6;
}

.d1910s {
    background-color: #1F1E1C;
    color: #F6F6F6;
}

.d1920s {
    background-color: #1F1E1C;
    color: #F6F6F6;
}

.d1930s {
    background-color: #77563D;
    color: #F6F6F6;
}

.d1940s {
    background-color: #D9AE6E;
    color: #422B1F;
}

.d1950s {
    background-color: #F8DA84;
    color: #422B1F;
}

.d1960s {
    background-color: #ABC573;
    color: #422B1F;
}

.d1970s {
    background-color: #418353;
    color: #F6F6F6;
}

.d1980s {
    background-color: #39523D;
    color: #F6F6F6;
}

.d1990s {
    background-color: #1E2E52;
    color: #F6F6F6;
}

.d2000s {
    background-color: #693E69;
    color: #F6F6F6;
}

.d2010s {
    background-color: #E39FAB;
    color: #422B1F;
}

.d2020s {
    background-color: #B00121;
    color: #F6F6F6;
}