/*film*/
.wrap-film {
    background-image: url("../img/movies.png");
    background-position-y: 100%;
    background-position-x: 100%;
    background-size: calc(25vh + 25vw);
    background-repeat: no-repeat;
}

.wrap-popular_places {
    background-image: url("../img/popular.png");
    background-position-y: 100%;
    background-position-x: 100%;
    background-size: calc(25vh + 25vw);
    background-repeat: no-repeat;
}

.headline {
    margin-top: 15px;
    width: 90%;
    height: calc(15px + 5%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: transparent;
}

.title {
    margin-left: 5%;
    width: 80%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #EFE7DB;
    background-color: #44250b;
    border-radius: 30px;
    font-family: var(--font1);
    font-weight: 700;
    font-size: 3vh;
    text-align: center;
}
.el {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 90%;
    width: 70%;
    border-radius: 3vw;
    background-color: #FEF6E9;
    box-shadow: -3px -3px 20px rgba(0, 0, 0, 0.4);
}

a {
    text-decoration: none;
}

.el img {
    margin: 2vw;
    border-radius: 2vw;
    height: 80%;
    width: 40%;
}

.el div {
    display: flex;
    flex-direction: column;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    word-wrap: normal;
    margin: 2vw;
}

.contents {
    width: 75%;
    height: 90%;
    overflow: auto;
    margin: 0;
}

.cont:first-child {
    margin-top: 3vh;
}

.cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 6vh;
    margin: 0 0 30px 0;
    color: #958682;

    font-family: var(--font1);
    font-weight: 700;
}
.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkbox + label {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 0 0 7vh;
    cursor: pointer;
    font-size: 3vh;
}

.checkbox + label:before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 5vh;
    padding-bottom: 5vh;
    border-radius: 10%;
    background: #faf8f6;
    box-shadow: inset 1vh 1vh 1vh rgba(0, 0, 0, .2);
}

.checkbox:checked + label:before {
    background: #44250b;
    box-shadow: inset 1vh 1vh 1vh rgba(0, 0, 0, .2);
}

@media (max-device-width: 1200px) {
    .title {
        font-size: x-large;
    }

    .el {
        width: 80%;
    }

    .el span {
        font-size: x-large;
    }
}

@media (max-device-width: 750px) {
    .title {
        font-size: large;
    }

    .el {
        width: 80%;
    }

    .el span {
        font-size: large;
    }
}

@media (max-device-width: 560px), (max-device-height: 1px) {
    .title {
        font-size: large;
    }

    .el {
        width: 80%;
    }

    .el span {
        font-size: small;
    }
}
