/*menu*/
@font-face {
    font-family: "Acrom-Regular";
    src: url("../fonts/Acrom-Regular.ttf") format("truetype");
    font-size: 5pt;
}

@font-face {
    font-family: "Montserrat-Medium_0";
    src: url("../fonts/Montserrat-Medium_0.ttf") format("truetype");
    font-size: 5pt;
}

html, body {
    margin: 0;
    overflow: hidden;
    font-size: 100%;

    --font: "Acrom-Regular";
    --font1: "Acrom-Regular";
    --font2: "Montserrat-Medium_0";
    --font-text-size: x-large;

    /*main*/

    --search-color: #422b1f;
    --search-bg-color: #f6f6f6;
    --search-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    --search-border-radius: 20px;
    --search-text-size: x-large;

    --filter-color: #f6f6f6;
    --filter-border-radius: 30px;
    --filter-bg-color: #422b1f;

    --filter-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    --filter-text-size: 1fr;

    --menu-color: #422b1f;
    --menu-bg-color: #f6f6f6;
    --menu-border-radius: 30px;
    --menu-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    --menu-text-size: xx-large;
    --zoom-bg-color: #f6f6f6;
    --color-active: #422b1f;
    --bg-color-active: #f6f6f6;
}

.mid {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 100vw;
    height: 100vh;
}

/* main */
.map {
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.zoom {
    position: fixed;
    top: 70vh;
    right: 5vw;
    width: 5vw;
    min-width: 40px;
    height: 10vh;
    min-height: 80px;
    padding: 0;
    border-radius: 10px;
    box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.2);
}

.zoom li {
    list-style-type: none;
    width: 5vw;
    min-width: 40px;
    height: 5vh;
    min-height: 40px;
    background-color: var(--zoom-bg-color);
}

.zoom li:first-child {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.zoom li:last-child {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.zoom button {
    font-size: 2em;
    border-radius: 10px;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
    width: 100%;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 1002;

    width: 100vw;
    height: 100vh;
}

.header {
    width: 90vw;
    z-index: 1010;
    margin: 3%;
}

.headerone {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 5vh;
    min-height: 62px;
}

.brand {
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    height: 100%;
    width: 130px;
    margin-right: 10px;
    border-radius: var(--search-border-radius);
    border: 0;
    box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.2);
}

.back {
    display: none;
}

.brand img {
    width: 100%;
    height: 100%;
    border-radius: var(--search-border-radius);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 70%;
    height: 100%;
    text-align: center;
    color: var(--menu-color);
    background-color: var(--menu-bg-color);
    border-radius: var(--menu-border-radius);
    border-color: rgba(0, 0, 0, 0);

    font-family: var(--font2);
    font-weight: 900;
    font-size: var(--menu-text-size);
    letter-spacing: 5px;
    box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.container {
    position: relative;
    width: 60px;
    padding-bottom: 60px;
    margin-left: 10px;
    border: 0;
}

.container .search {
    position: absolute;
    color: #44250b;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.2);
    background: white;
    border-radius: 25%;
    transition: all 1s;
    z-index: 100;
}

.container .search:hover {
    cursor: pointer;
}

.container .search::before {
    content: "";
    position: absolute;
    margin: auto;
    top: 22px;
    right: 0;
    bottom: 0;
    left: 22px;
    width: 12px;
    height: 2px;
    transform: rotate(45deg);
    transition: all .5s;
    background: #44250b;
}

.container .search::after {
    content: "";
    position: absolute;
    margin: auto;
    top: -5px;
    right: 0;
    bottom: 0;
    left: -5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #44250b;
    transition: all .5s;
}

.container input {
    font-family: --font;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 120px;
    height: 50px;
    outline: none;
    border: none;
    background: white;
    color: black;
    text-shadow: 0 0 10px white;
    padding: 0 55px 0 20px;
    border-radius: 30px;
    box-shadow: -5px -5px 5px 0 rgba(0, 0, 0, 0.2);
    transition: all 1s;
    opacity: 0;
    z-index: 101;
    font-size: small;
    font-weight: bolder;
    letter-spacing: 0.1em;
}

.container input:hover {
    cursor: pointer;
}

.container input:focus {
    transform: translateX(-72vw);
    transition: all 0.5s ease-out;
    opacity: 1;
    width: 55vw;
    cursor: text;
}

.container input:focus ~ .search {
    left: -10vw;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #EFE7DB;
    z-index: 102;
}

.container input:focus ~ .search::before {
    top: 0;
    left: 0;
    width: 25px;
}

.container input:focus ~ .search::after {
    top: 0;
    left: 0;
    width: 25px;
    height: 2px;
    border: none;
    background: #44250b;
    border-radius: 0%;
    transform: rotate(-45deg);
}

.container input::placeholder {
    color: black;
    opacity: 0.5;
    font-weight: bolder;
}

/*
.search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 95%;
    height: 5vh;
    min-height: 70px;
    margin: 3%;

    background-color: var(--search-bg-color);
    border-radius: var(--search-border-radius);
    box-shadow: var(--search-shadow);
}

.search input {
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 0 0 20px;
    margin: 0;
    color: var(--search-color);
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 0;

    font-family: var(--font1);
    font-weight: 900;
    font-size: var(--search-text-size);
}

.search img {
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
    margin-right: 30px;
}
*/
.filters {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 100%;
    height: 4vh;
    min-height: 35px;
    margin: 2% 0 2% 0;
}

.filter {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 23%;

    background-color: var(--filter-bg-color);
    color: var(--filter-color);
    border-radius: var(--filter-border-radius);
    border-color: rgba(0, 0, 0, 0);

    font-family: var(--font1);
    font-weight: 700;
    font-size: var(--filter-text-size);

    box-shadow: var(--filter-shadow);
    text-decoration: none;
}

/*more*/
.filterbig {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 27%;

    background-color: var(--filter-bg-color);
    color: var(--filter-color);
    border-radius: var(--filter-border-radius);
    border-color: rgba(0, 0, 0, 0);

    font-family: var(--font1);
    font-weight: 700;
    font-size: var(--filter-text-size);

    box-shadow: var(--filter-shadow);
    text-decoration: none;
}

.filtermin {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 7%;

    background-color: var(--filter-bg-color);
    color: var(--filter-color);
    border-radius: var(--filter-border-radius);
    border-color: rgba(0, 0, 0, 0);

    font-family: var(--font1);
    font-weight: 700;
    font-size: var(--filter-text-size);

    box-shadow: var(--filter-shadow);
    text-decoration: none;
}

.active {
    background-color: var(--bg-color-active);
    color: var(--color-active);
}

/*pop-up*/
.menu_open {
    display: none; /*display: none;*/
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1003;
    background-color: #4e4e4e90;
}

.window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vh;
    width: 50vh;
    height: 50vh;
    color: #422b1f;
    border-color: #f4f4f4;
    border-radius: var(--filter-border-radius);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
    font-family: var(--font1);
    font-weight: 700;
    font-size: x-large;
    background-color: #f4f4f4;
    background-image: url(../img/konvert.png);
    background-position-y: 50%;
    background-position-x: -70%;
    background-size: 40vh;
    background-repeat: no-repeat;
}

.headertwo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    width: 95%;
    height: calc(4vh + 2vw);
}

.krestik {
    position: sticky;
    top: 0;
    left: 90%;

    width: calc(3.5vh + 2vw);
    padding-bottom: calc(3.5vh + 2vw);

    background: url("../img/krest.png") center no-repeat;
    background-color: #44250b;
    background-size: 65%;
    border-color: rgba(0, 0, 0, 0);
    border-radius: var(--img-radius);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}

.af {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 90%;
    height: 100%;
}

.tar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0;
}

.tar li {
    list-style-type: none;
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: var(--menu-text-size);
}

.tar li:first-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

button {
    outline: none;
    cursor: pointer;
}

@media (max-device-width: 540px),(max-device-height: 600px) {
    html, body {
        --filter-text-size: 0.8em;
        --menu-text-size: x-large;
    }

    .header {
        width: 97vw;
        height: 6vh;
        min-height: 50px;
    }

    .headerone {
        height: 6vh;
        min-height: 50px;
    }

    .brand {
        background-color: rgba(0, 0, 0, 0);
        margin: 0 0;
    }

    .menu {
        margin: 0 2px;
    }

    .container {
        margin-left: 0;
        padding-bottom: 50px;
    }
}

@media (max-device-width: 370px),(max-device-height: 420px) {
    html, body {
        --filter-text-size: 0.65em;
        --menu-text-size: large;
    }

    .window {
        border-radius: 15px;
    }
}

@media (min-width: 1200px) {
    html, body {
        --filter-text-size: 0.65em;
        --menu-text-size: x-large;
        --filter-shadow: 0 4px 3px 2px rgba(0, 0, 0, 0.2);
    }

    .header {
        position: absolute;
        top: 3vh;
        left: 3vw;
        width: 450px;
        height: 70vh;
        background-color: #fef6e9;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    }

    .brand {
        background-color: rgba(0, 0, 0, 0);
        padding: 0;
        height: 100%;
        width: 30%;
        margin-right: 10px;
        border-radius: var(--search-border-radius);
        border: 0;
        box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.2);
    }
}

    .brand img {
        width: 100%;
        height: auto;
        border-radius: var(--search-border-radius);
    }

    .container input:focus {
        transform: translateX(-400px);
        width: 350px;
    }

    .container input:focus ~ .search {
        left: 0px;
    }

    .filters {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        min-height: 35px;
        margin: 2% 0 2% 0;
    }

    .filter {
        width: 28%;
        height: 4vh;
        margin: 2% 1%;
        box-shadow: var(--filter-shadow);
        font-size: var(--filter-text-size);
    }

    .filterbig {
        width: 32%;
        height: 4vh;
        margin: 3% 1%;
        font-size: var(--filter-text-size);
        box-shadow: var(--filter-shadow);
    }

    .contents {
        width: 100%;
        height: 50vh;
        overflow: auto;
        margin: 0;
    }

    .cont {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        color: #958682;
        font-family: var(--font1);
        font-weight: 700;
        font-size: large;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding: 20px 0;
    }

    .neww {
        background-image: url("../img/new.png");
        background-position-x: -0.5%;
        background-position-y: 50%;
        background-size: 13%;
        background-repeat: no-repeat;
    }

    .checkbox {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    .checkbox + label {
        position: relative;
        padding: 0 0 0 100px;
        cursor: pointer;
    }

    .checkbox + label:before {
        content: '';
        position: absolute;
        top: 5px;
        left: 60px;
        width: 30px;
        height: 30px;
        border-radius: 10%;
        background: #faf8f6;
        box-shadow: inset 1vh 1vh 1vh rgba(0, 0, 0, .2);
    }

    .checkbox:checked + label:before {
        background: #44250b;
        box-shadow: inset 1vh 1vh 1vh rgba(0, 0, 0, .2);
    }

    ::-webkit-scrollbar {
        width: 9px;
    }

    ::-webkit-scrollbar-thumb {
        background: #958682;
        border-radius: 15px;
    }

    .container1 {
        width: 450px;
        height: 60px;
        cursor: pointer;
        perspective: 1000px;
        -webkit-perspective: 1000px;
    }

    .container1:hover .flipper {
        transform: rotateX(-90deg);
    }

    .container1:hover .back {
        display: flex;
        align-items: flex-end;
    }

    .container1 .flipper {
        height: 70px;
        width: 450px;
        transition: all 0.5s ease;
        transform-style: preserve-3d;
        position: relative;
    }

    .container1 .button {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 5px;
        backface-visibility: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-family: 'Gochi Hand', cursive;
        color: white;
        letter-spacing: 2px;
    }

    .button .fa {
        font-size: 24px;
    }

    .front {
        transform: translateZ(22px);
    }

    .back {
        text-shadow: 1px 0 2px #000000;
        transform: rotateX(90deg) translateZ(22px);
    }
}
