/*menu*/
@font-face {
    font-family: "Acrom-Regular";
    src: url("../fonts/Acrom-Regular.ttf") format("truetype");
    font-size: 5pt;
}

@font-face {
    font-family: "Montserrat-Medium_0";
    src: url("../fonts/Montserrat-Medium_0.ttf") format("truetype");
    font-size: 5pt;
}

html, body {
    margin: 0;
    font-size: 100%;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    --font: "Acrom-Regular";
    --font1: "Acrom-Regular";
    --font2: "Montserrat-Medium_0";
    --font-text-size: x-large;

    /*main*/
    --search-color: #422b1f;
    --search-bg-color: #f6f6f6;
    --search-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    --search-border-radius: 15px;
    --search-text-size: x-large;

    --filter-color: #f6f6f6;
    --filter-border-radius: 30px;
    --filter-bg-color: #422b1f;

    --filter-text-size: 0.65em;
    --filter-shadow: 0 4px 3px 2px rgba(0, 0, 0, 0.2);

    --menu-color: #422b1f;
    --menu-bg-color: #f6f6f6;
    --menu-border-radius: 30px;
    --menu-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    --menu-text-size: x-large;
    --zoom-bg-color: #F6F6F6;
    --color-active: #422b1f;
    --bg-color-active: #f6f6f6;


}

.mid {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

/* main */
.map {
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.zoom {
    position: fixed;
    top: 50%;
    right: 5vw;
    transform: translate(50%, -50%);
    width: 3vw;
    min-width: 20px;
    height: 10vh;
    min-height: 80px;
    padding: 0;
    border-radius: 10px;
    box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.2);
}

.zoom li {
    list-style-type: none;
    width: 3vw;
    min-width: 20px;
    height: 5vh;
    min-height: 40px;
    background-color: var(--zoom-bg-color);
}

.zoom li:first-child {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.zoom li:last-child {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.zoom button {
    font-size: 2em;
    border-radius: 10px;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 200;

    width: 100vw;
    min-height: 100vh;
}

.line {
    display: flex;
    flex-direction: row;
}

.half {
    width: 50vw;
    align-items: center;
    text-align: center;
    height: 80%;
    border-right: 3px solid #DDD5D1;
    overflow: hidden;
}

.not_half {
    width: 40vw;
    align-items: center;
    text-align: center;
    overflow: hidden;

}

.header {
    z-index: 300;
    margin: 3%;
    position: absolute;
    top: 3vh;
    left: 3vw;
    width: 23vw;
    background-color: #f4f4f4;
    padding: 1vw;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.headerone {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    min-height: 62px;
}

.headline {
    width: 100%;
    margin: 5vh 0 3vh;
    height: calc(15px + 5%);
    display: flex;
    flex-direction: row;
}

.headline_title {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
}

.headline_title div {
    font-family: var(--font);
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 100%;
    /* or 45px */
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;

    /* темный цвет */

    color: #422B1F;
}

.headline .krestik {
    position: absolute;
    top: 5vh;
}

.brand {
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    height: 50px;
    width: 22%;
    border-radius: var(--search-border-radius);
    border: 0;
    box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.2);
}


.brand img {
    width: 100%;
    height: auto;
    border-radius: var(--search-border-radius);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: auto;
    width: 50%;
    height: 50px;

    text-align: center;
    color: var(--menu-color);
    background-color: var(--menu-bg-color);
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0);

    font-family: var(--font2);
    font-weight: 900;
    font-size: var(--menu-text-size);
    letter-spacing: 5px;
    box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.container {
    position: relative;
    width: 50px;
    padding-bottom: 50px;
    margin: 0;
    border: 0;
}

.container .search {
    position: absolute;
    color: #44250b;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.2);
    background: white;
    border-radius: 25%;
    transition: all 1s;
    z-index: 100;
}

.container .search:hover {
    cursor: pointer;
}

.container .search::before {
    content: "";
    position: absolute;
    margin: auto;
    top: 22px;
    right: 0;
    bottom: 0;
    left: 22px;
    width: 12px;
    height: 2px;
    transform: rotate(45deg);
    transition: all 0.5s;
    background: #44250b;
}

.container .search::after {
    content: "";
    position: absolute;
    margin: auto;
    top: -5px;
    right: 0;
    bottom: 0;
    left: -5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #44250b;
    transition: all 0.5s;
}

.container input {
    font-family: var(--font);
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 50px;
    outline: none;
    border: none;
    background: white;
    color: black;
    text-shadow: 0 0 10px white;
    border-radius: 10px;
    box-shadow: -5px -5px 5px 0 rgba(0, 0, 0, 0.2);
    transition: all 1s;
    opacity: 0;
    z-index: 101;
    font-size: small;
    font-weight: bolder;
    letter-spacing: 0.1em;
}

.container input:hover {
    cursor: pointer;
}

.container input:focus {
    transform: translateX(calc(-21.5vw + 30px));
    transition: all 0.5s ease-out;
    opacity: 1;
    width: 20.2vw;
    padding: 0 2.3vw 0 0.5vw;
    cursor: text;
}

.container input:focus ~ .search {
    background: transparent;
    box-shadow: none;
    z-index: 102;
}

.container input:focus ~ .search::before {
    top: 0;
    left: 0;
    width: 25px;
}

.container input:focus ~ .search::after {
    top: 0;
    left: 0;
    width: 25px;
    height: 2px;
    border: none;
    background: #44250b;
    border-radius: 0%;
    transform: rotate(-45deg);
}

.container input::placeholder {
    color: black;
    opacity: 0.5;
    font-weight: bolder;
}


.filters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 100%;
    height: auto;
    min-height: 35px;
    margin: 2% 0 2% 0;
}

.filter {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--filter-bg-color);
    color: var(--filter-color);
    border-radius: var(--filter-border-radius);
    border-color: rgba(0, 0, 0, 0);

    font-family: var(--font1);
    font-weight: 700;
    font-size: var(--filter-text-size);

    box-shadow: var(--filter-shadow);
    text-decoration: none;

    width: 28%;
    height: 4vh;
    margin: 2% 1%;

}

/*more*/
.filterbig {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 32%;
    height: 4vh;

    background-color: var(--filter-bg-color);
    color: var(--filter-color);
    border-radius: var(--filter-border-radius);
    border-color: rgba(0, 0, 0, 0);

    font-family: var(--font1);
    font-weight: 700;
    font-size: var(--filter-text-size);

    box-shadow: var(--filter-shadow);
    text-decoration: none;

    margin: 3% 1%;
}

.active {
    background-color: var(--bg-color-active);
    color: var(--color-active);
}

/*Список под меню*/
.contents {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    overflow: auto;
    margin: 0;
}

.cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #958682;
    font-family: var(--font1);
    font-weight: 700;
    font-size: large;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px 0;
}

.neww {
    background-image: url("../img/new.png");
    background-position-x: -0.5%;
    background-position-y: 50%;
    background-size: 13%;
    background-repeat: no-repeat;
}

.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkbox + label {
    position: relative;
    padding: 0 0 0 100px;
    cursor: pointer;
}

.checkbox + label:before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 60px;
    width: 30px;
    padding-bottom: 30px;
    border-radius: 10%;
    background: #faf8f6;
    box-shadow: inset 1vh 1vh 1vh rgba(0, 0, 0, .2);
}

.checkbox:checked + label:before {
    background: #44250b;
    box-shadow: inset 1vh 1vh 1vh rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar {
    position: fixed;
    width: 9px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: #958682;
    border-radius: 15px;
}

/*pop-up*/
.pop_up {
    display: none; /*display: none/flex;*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 500;
    background-color: #4e4e4e90;
}

.window {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: auto;
    align-items: center;
    padding: 2vh;
    width: 45vw;
    height: 50vh;
    color: #422b1f;
    border-color: #f4f4f4;
    background-color: #f4f4f4;
    border-radius: var(--filter-border-radius);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
    font-family: var(--font1);
    font-weight: 700;
    font-size: x-large;
}

/*шапка/бренд*/
.headertwo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6vh;
    padding: 1vh 0;
}

.headertwo img {
    width: 60%;
    height: 100%;
}

/*блок контента*/
.contenttwo {
    height: calc(100% - 6vh - 5vh);
}

/*футер - кнопка*/
.footertwo {
    width: 30%;
    height: 5vh;
}

.footertwo .filterbig {
    margin: auto;
    display: flex;
    justify-self: flex-end;
    width: 100%;
    text-transform: capitalize;
}

/*дизаайн фрагмента при нажжатии*/
.fragment_karta {
    z-index: 499;
    position: absolute;
    top: 20%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.fragment {
    z-index: 500;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    align-items: center;
    padding: 12px;
    width: 22vw;
    min-height: 120px;
    max-height: 400px;
    color: #422b1f;
    background-color: #f4f4f4;
    border-radius: var(--filter-border-radius);
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.3);
    font-family: var(--font1);
    font-weight: 700;
    font-size: x-large;
}

.fragment .headertwo {
    padding: 0;
    margin-bottom: 10px;
}

.krestik {
    position: sticky;
    top: 0;
    left: 90%;
    width: 4vh;
    padding-bottom: 4vh;
    background: #44250b url("../img/krest.png") center no-repeat;
    background-size: 65%;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 15%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}

.triangle {
    display: inline-block;
    color: #f4f4f4;
    text-shadow: 0px -10px 5px rgba(0, 0, 0, 0.3);
    font-size: 60px;
    height: auto;
    transform: scaleX(2) rotateX(180deg) translateY(17px) translateX(20px);
}

.fragment_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    height: 80%;
}

.fragment_content img, .fragment_text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 49%;
    height: 90%;
}

.fragment_content img {
    box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    height: 90%;
    margin-right: 10px;
}

.fragment span {
    font-size: 20px;
}

.fragment_text span, .fragment_text button {
    width: 100%;
    font-size: 13px;
}

.fragment_text button {
    display: flex;
    justify-self: flex-end;
    align-self: flex-end;
    height: 38px;
}

/*стили для форм*/
.one {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 2vh 1vw;
}

.one div {
    font-size: x-large;
    color: var(--menu-color);
    padding-right: 10px;
    width: 10vw;
}

.one input {
    width: 60vw;
    height: 4vh;
    min-height: 20px;
    padding: 5px;
    font-size: smaller;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    background: linear-gradient(145deg, rgba(0, 0, 0, 0.09), #ffffff);
    outline: none;
    cursor: pointer;
}

.two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 2vh 1vw;
}

.two span {
    align-self: flex-start;
    padding-right: 2vw;
    font-size: x-large;
    color: var(--menu-color);
}

.two textarea {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 2vh 1vw;
    width: 95%;
    height: 25vh;
    border-radius: 10px;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.09), #ffffff);
    border: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.three {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 1vh;
}

.three div {
    font-size: large;
    color: var(--menu-color);
    display: flex;
    justify-content: flex-start;
    text-align: left;
    width: 10vw;
}

.three input {
    width: 40vw;
    height: 3vh;
    min-height: 20px;
    padding: 5px;
    font-size: smaller;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    background: linear-gradient(145deg, rgba(0, 0, 0, 0.09), #ffffff);
    outline: none;
    cursor: pointer;
}

.dop {
    height: 15vh;
}

.submit {
    height: 5vh;
    border-radius: 20px;
    width: 20vw;
    padding-right: 5px;
    padding-left: 5px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

/*меню*/
.menu_desktop {
    position: fixed;
    top: 0;
    background-color: white;
    display: flex;
    padding: 0 2vw;
    justify-content: space-between;
    align-items: center;
    width: 96vw;
    height: 6vh;
    min-height: 70px;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.pos {
    position: static;
    box-shadow: none;
}

.message {
    height: 4vh;
    min-height: 50px;
    min-width: 50px;
    width: 4vh;
}

.menu_desktop .krestik {
    min-width: 20px;
    padding-bottom: 100%;
    width: 4vh;
    background-color: transparent;
    box-shadow: none;
    background: url("../img/krest_bl.png") center no-repeat;
}

.message a {
    display: block;
    height: 0;
    width: 100%;
    padding-bottom: 100%;
    background: url("../img/message_bl.png") center no-repeat;
    background-size: 70%;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 15%;
}

.headertwo_text {
    min-width: 150px;
    width: 11%;
    border: none;
    font-family: var(--font);
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height, or 25px */

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;

    /* темный цвет */

    color: #422B1F;
}

.filter_header {
    font-family: var(--font);
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 100%;
    /* identical to box height, or 45px */

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    /* темный цвет */

    color: #422B1F;
}

.menu_desktop input {
    padding-left: 7px;
    text-decoration: none;
    outline: none;
    width: 20vw;
    height: 3vh;

    color: var(--new-color);
    border-color: rgba(0, 0, 0, 0);
    background-color: #FFF5F2EF;
    border-radius: 8px;
    box-shadow: inset 3px 2px 5px rgba(0, 0, 0, 0.2);

    font-family: var(--font);
    font-weight: 700;
    font-size: var(--new-text-size);
}

/*Основной блок*/
.muvies, .personage {
    width: 96%;
    margin: 5vh auto;
    height: 35vh;
}

.years, .genres {
    width: 96%;
    margin: 6vh auto;
    height: 20vh;
}

/*Название блока + ссылка*/
.menu_title {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 7vh;
    width: 100%;
    color: #422B1F;
    font-family: var(--font);
    font-style: normal;
    font-weight: bold;
    font-size: 5vh;
    line-height: 148.5%;
    text-transform: uppercase;
}

.menu_title div:after {
    content: '/';
}

.years .menu_title div:after {
    content: '';
}

.genres .menu_title div:after {
    content: '';
}

.menu_title a {
    height: 7vh;
    text-decoration: none;
    font-size: 3vh;
    color: rgba(66, 43, 31, 0.71);
}

/*основной блок контента*/
.muvies .contents {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%;
}

.personage .contents {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.years .contents, .genres .contents {
    display: flex;
    flex-direction: row;
    width: 98%;
    height: 16vh;
}

.contents_box {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 90vw;
    height: 100%;
}

.filter_box {
    margin: 3vh auto;
    justify-content: space-between;
    height: 28vh;
}

.filter_box .muvies_content {
    margin: 5px;
}

.contents button {
    height: 22vh;
    border: none;
    padding: 10px 10px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*ячейка контента*/
.muvies_content {
    height: 22vh;
    margin-right: 3vw;
}

.muvies_content div {
    width: 15vw;
    min-width: 260px;
    height: 18vh;
    border-radius: 35px;
    background: #C9C3C0;
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.25);
}

.personage_сontent {
    width: 10vw;
    min-width: 220px;
    height: 22vh;
    margin-right: 3vw;
}

.personage_сontent div {
    width: 10vw;
    min-width: 220px;
    height: 22vh;
    border-radius: 35px;
    background: #C9C3C0;
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.25);
}

.element_title {
    margin-top: 7px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    color: #422B1F;
}

.years button, .genres button {
    height: 13vh;
    background: transparent;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10vh;
    color: #422B1F;
}


.el {
    border-radius: 30px;
    margin-right: 4vw;
    height: 13vh;
    background-color: #ecebea;
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.25);
}

.el div {
    width: 12vw;
    min-width: 200px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 100%;

}

.genres .el div {
    /* темный цвет */
    color: #422B1F;
}

.years .contents_box .el:nth-child(1) {
    background-color: #1F1E1C;
    color: white;
}

.years .contents_box .el:nth-child(2) {
    background-color: #77563D;
    color: white;
}

.years .contents_box .el:nth-child(3) {
    background-color: #D9AE6E;
}

.years .contents_box .el:nth-child(4) {
    background-color: #F8DA84;
}

.years .contents_box .el:nth-child(5) {
    background-color: #ABC573;
}

.years .contents_box .el:nth-child(6) {
    background-color: #418353;
    color: white;
}

.years .contents_box .el:nth-child(7) {
    background-color: #39523D;
    color: white;
}

.years .contents_box .el:nth-child(8) {
    background-color: #1E2E52;
    color: white;
}

.years .contents_box .el:nth-child(9) {
    background-color: #693E69;
    color: white;
}

.years .contents_box .el:nth-child(10) {
    background-color: #E39FAB;
    color: white;
}

.years .contents_box .el:nth-child(10) {
    background-color: #E39FAB;
}

.years .contents_box .el:nth-child(11) {
    background-color: #B00121;
    color: white;
}

button {
    outline: none;
    cursor: pointer;
}

/* Точки на карте */
.point {
    width: 20px;
}

.p1900 {
    fill: #1F1E1C;
}

.p1910 {
    fill: #1F1E1C;
}

.p1920 {
    fill: #1F1E1C;
}

.p1930 {
    fill: #77563D;
}

.p1940 {
    fill: #D9AE6E;
}

.p1950 {
    fill: #F8DA84;
}

.p1960 {
    fill: #ABC573;
}

.p1970 {
    fill: #418353;
}

.p1980 {
    fill: #39523D;
}

.p1990 {
    fill: #1E2E52;
}

.p2000 {
    fill: #693E69;
}

.p2010 {
    fill: #E39FAB;
}

.p2020 {
    fill: #B00121;
}

/*фоновое изображение*/
.wrap-filt:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-image: url("../img/filt.png");
    background-position-x: 100%;
    background-position-y: 100%;
    background-size: calc(50vh);
    background-repeat: no-repeat;
}

.wrap-actors:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: -50%;
    z-index: -1;
    transform: scale(-1, 1);
    background-image: url("../img/actors.png");
    background-size: calc(35vh + 25vw);
    background-repeat: no-repeat;
}

.wrap-producer:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: -50%;
    z-index: -1;
    background-image: url("../img/producer.png");
    background-size: calc(35vh + 25vw);
    background-repeat: no-repeat;
}

.wrap-personage:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 60%;
    left: -50%;
    z-index: -1;
    background-image: url("../img/personage.png");
    background-size: calc(35vh + 25vw);
    background-repeat: no-repeat;
}

.wrap-muvies:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: -50%;
    z-index: -1;
    background-image: url("../img/muvies.png");
    background-size: calc(35vh + 25vw);
    background-repeat: no-repeat;
}

.wrap-top:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: -30%;
    z-index: -1;
    background-image: url("../img/top.png");
    background-size: calc(35vh + 25vw);
    background-repeat: no-repeat;
}

.wrap-new:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: -50%;
    z-index: -1;
    background-image: url("../img/new.png");
    background-size: calc(35vh + 25vw);
    background-repeat: no-repeat;
}

.wrap-genres:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: -50%;
    z-index: -1;
    background-image: url("../img/genres.png");
    background-size: calc(35vh + 25vw);
    background-repeat: no-repeat;
}

.wrap-years:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: -30%;
    z-index: -1;
    background-image: url("../img/year.png");
    background-size: calc(35vh + 25vw);
    background-repeat: no-repeat;
}

.wrap-popular_places {
    background-image: url("../img/popular.png");
    background-position-y: 100%;
    background-position-x: -50%;
    background-size: calc(25vh + 25vw);
    background-repeat: no-repeat;
}