<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Кинопутеводитель</title>
    <link rel="stylesheet" href="../static/style/style.css">
    <link rel="stylesheet" href="../static/style/film.css">
</head>
<body>
    <div class="mid">
         <div class="main-wrapper wrap-film">
            <div class="headline">
                <div class="film">ФИЛЬМ</div>
                <div class="krestik"></div>
            </div>
            <div class="contents">
                 <div class="cont">
                    <input type="checkbox" class="checkbox" id="checkbox"/>
                    <label for="checkbox">Режиссер, название фильма, год создания</label>
                 </div>
                <div class="cont">
                    <input type="checkbox" class="checkbox" id="checkbox2"/>
                    <label for="checkbox2">Режиссер, название фильма, год создания</label>
                </div>
                <div class="cont">
                    <input type="checkbox" class="checkbox" id="checkbox3"/>
                    <label for="checkbox3">Режиссер, название фильма, год создания</label>
                </div>
                <div class="cont">
                    <input type="checkbox" class="checkbox" id="checkbox4"/>
                    <label for="checkbox4">Режиссер, название фильма, год создания</label>
                </div> <div class="cont">
                    <input type="checkbox" class="checkbox" id="checkbox5"/>
                    <label for="checkbox">Режиссер, название фильма, год создания</label>
                 </div>
                <div class="cont">
                    <input type="checkbox" class="checkbox" id="checkbox6"/>
                    <label for="checkbox2">Режиссер, название фильма, год создания</label>
                </div>
                <div class="cont">
                    <input type="checkbox" class="checkbox" id="checkbox6"/>
                    <label for="checkbox2">Режиссер, название фильма, год создания</label>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
