<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }} | Loook.city</title>
    <style>
        img {
            width: 192px;
            height: 108px;
        }
    </style>
</head>
<body>

<div class="wrapper">
    <div class="header">
        <div class="hedaline">
            <span>{{ title|upper }}</span>
        </div>
        <div class="menu"></div>
    </div>
    <div class="container">
        {% load comments %}
        {% get_comment_count for data as comment_count %}
        <a href="#comments">
            <p>Комментариев: {{ comment_count }}</p>
        </a>
        <a>
            <p>Поделиться</p>
        </a>
        <div id="map">Map</div>
        <div>
            <video width="400" height="320" controls="controls" {% if autoplay %}autoplay="autoplay"{% endif %}
                   poster="/{{ photo }}">
                <source src="{{ video_link }}" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                Тег video не поддерживается вашим браузером.
            </video>
            <p>{{ elem.h1 }}</p>
            {% for address in addr %}
                <p>{{ address.address }}</p>
            {% endfor %}
            {{ text|safe }}
            <div style="height: 500px;"></div>
            {% load comments %}
            <div id="comments">
                {% render_comment_list for data %}
                {% render_comment_form for data %}
            </div>
        </div>
    </div>
</div>
</body>
</html>