<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Кинопутеводитель</title>
    <link rel="stylesheet" href="../static/style/style.css">
<!--    <link rel="icon" sizes="192x192" href="kino.png">-->
    <meta name="theme-color" content="#FF422B1F">

    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=0ebae56a-379d-4e2c-8821-bf1a67d366e2"
        type="text/javascript"></script>
    <script src="../static/js/mapbasics.js" type="text/javascript"></script>
</head>

<body>

    <div id="root" class="mid">
        <div v-show="map" class="main-wrapper">

            <!-- Карта -->
            <div id="map" class="map"></div>

            <!-- Поиск и фильтры -->
            <div class="header">
                <div class="search">
                    <form action="">
                        <input type="text" placeholder="Поиск по адресу"><img src="../static/img/kino.png">
                    </form>
                </div>
                <div v-if="!addButtons" class="filters">
                    <span class="filter active">ФИЛЬМЫ</span>
                    <span class="filter">ЖАНРЫ</span>
                    <span class="filter">ГОДА</span>
                    <span @click="changeButtons" class="filter">ДРУГОЕ</span>
                </div>
                <div v-else class="filters">
                    <span class="filterbig">ПЕРСОНАЖИ</span>
                    <span class="filterbig">РЕЖИССЕРЫ</span>
                    <span class="filterbig active">АКТЕРЫ</span>
                    <span @click="changeButtons" class="filtermin">	&lt;</span>
                </div>
            </div>

            <!-- Кнопка меню -->
            <span @click="changeMenuState" class="menu">
                М Е Н Ю
            </span>
        </div>

        <!-- Поп-ап -->
        <div class="menu_open">
            <div class="window">
                <div class="headertwo">
                    <img src="../static/img/film.png">
                    <div class="krestik">
                    </div>
                </div>
            </div>
        </div>

        <!-- Открытое меню -->
        <div v-if="menu" class="grid-main-wrapper">
            <div class="new">
                <span>НОВИИНКИ</span>
            </div>
            <div @click="changeMenuState" class="krest">
                <div></div>
            </div>
            <div class="film square">
                <span>ФИЛЬМЫ</span>
            </div>
            <div class="year square">
                <span>ГОДЫ</span>
            </div>
            <div class="genres square">
                <span>ЖАНРЫ</span>
            </div>
            <div class="personage square">
                <span>ПЕРСОНАЖИ</span>
            </div>
            <div class="producer square">
                <span>РЕЖИССЕРЫ</span>
            </div>
            <div class="actors square">
                <span>АКТЕРЫ</span>
            </div>
            <div class="popular square">
                <span>ПОПУЛЯРНЫЕ МЕСТА</span>
            </div>
            <div class="top square">
                <span>ЛУЧШИЕ КИНО-РАССКАЗЫ</span>
            </div>
        </div>
    </div>

</body>

</html>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="../static/js/main.js"></script>