<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style/style.css">
    <link rel="stylesheet" href="../static/style/menu.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Кинопутеводитель</title>
</head>
<body>
<div class="mid ad">
    <div class="grid-main-wrapper">
        <div class="message">
            <div></div>
        </div>
        <div class="city">
            <span>ГОРОДА</span>
        </div>
        <div class="krest">
            <div></div>
        </div>
        <div class="new square">
            <span>НОВИНКИ</span>
        </div>
        <div class="top square">
            <span>ЛУЧШИЕ КИНО-РАССКАЗЫ</span>
        </div>
        <div class="film square">
            <span>ФИЛЬМЫ</span>
        </div>
        <div class="year square">
            <span>ГОДЫ</span>
        </div>
        <div class="genres square">
            <span>ЖАНРЫ</span>
        </div>
        <div class="personage square">
            <span>ПЕРСОНАЖИ</span>
        </div>
        <div class="producer square">
            <span>РЕЖИССЕРЫ</span>
        </div>
        <div class="actors square">
            <span>АКТЕРЫ</span>
        </div>
        <div class="popular square">
            <span>ПОПУЛЯРНЫЕ МЕСТА</span>
        </div>
        <div class="places square">
            <span>НЕОПОЗНАННЫЕ МЕСТА</span>
        </div>
    </div>
</div>
</body>
</html>