<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Кинопутеводитель</title>
    <link rel="stylesheet" href="../static/style/style.css">
</head>

<body>
    <div class="mid">
        <div class="grid-main-wrapper">
            <div class="new">
                <span>НОВИИНКИ</span>
            </div>
            <div class="krest">
                <div></div>
            </div>
            <div class="film square">
                <span>ФИЛЬМЫ</span>
            </div>
            <div class="year square">
                <span>ГОДЫ</span>
            </div>
            <div class="genres square">
                <span>ЖАНРЫ</span>
            </div>
            <div class="personage square">
                <span>ПЕРСОНАЖИ</span>
            </div>
            <div class="producer square">
                <span>РЕЖИССЕРЫ</span>
            </div>
            <div class="actors square">
                <span>АКТЕРЫ</span>
            </div>
            <div class="popular square">
                <span>ПОПУЛЯРНЫЕ МЕСТА</span>
            </div>
            <div class="top square">
                <span>ЛУЧШИЕ КИНО-РАССКАЗЫ</span>
            </div>
        </div>
    </div>
</body>

</html>