<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }} | Loook.city</title>
    <style>
        img {
            width: 192px;
            height: 108px;
        }
    </style>
</head>
<body>

<div class="wrapper">
    <div class="header">
        <div class="hedaline">
            <span>{{ title|upper }}</span>
        </div>
        <div class="menu"></div>
    </div>
    <div class="container">
        <span>ФИЛЬМЫ</span>
        {% load comments %}
        {% get_comment_count for parent as comment_count %}
        <a href="#comments">
            <p>Комментариев: {{ comment_count }}</p>
        </a>
        <a>
            <p>Поделиться</p>
        </a>
        <a href="{{ map_link }}">
            <p>На карту</p>
        </a>
        {% for elem in data %}
            <div>
                <a href="{{ elem.href }}">
                    <p>{{ elem.h1 }}</p>
                    <img src="/{{ elem.photo }}"/>
                </a>
            </div>
            <hr>
        {% endfor %}

        <div id="comments">
            {% render_comment_list for parent %}
            {% render_comment_form for parent %}
        </div>

        {#    {% lorem 3 w %}#}
    </div>
</div>
</body>
</html>