<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Кинопутеводитель</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="/favicon.ico" rel="icon" type="image/x-icon">
    <link href="../static/style/style.css" rel="stylesheet">
    <link href="../static/style/menu.css" rel="stylesheet">
    <link href="../static/style/film.css" rel="stylesheet">
</head>

<body>
<div class="mid">
    <div class="main-wrapper wrap-popular_places">
        <div class="headline">
            <div class="title">ПОПУЛЯРНЫЕ МЕСТА</div>
            <div class="krestik"></div>
        </div>
        <div class="contents">
            <div class="cont hg">
                <div class="el">
                    <video controls="" poster="/images/previews/default.png" preload="none"
                           src="/media/fragment/bf40efb4-38b0-48fe-82dc-262c3b4ff4ef">
                        К сожалению, Ваш браузер не поддерживает просмотр видео,
                        но Вы можете <a
                            href="https://beta.loook.city/media/fragment/bf40efb4-38b0-48fe-82dc-262c3b4ff4ef">скачать</a>
                        его.
                    </video>
                    <div>
                        <span>«Музей мебели», 1971</span>
                        <span>Москва, Воронцово поле, 12.</span>
                    </div>
                </div>
            </div>
            <div class="cont hg">
                <div class="el">
                    <video controls="" poster="/images/previews/default.png" preload="none"
                           src="/media/fragment/ed0e3820-9bb3-483d-9885-e34f147f6099">
                        К сожалению, Ваш браузер не поддерживает просмотр видео,
                        но Вы можете <a
                            href="https://beta.loook.city/media/fragment/ed0e3820-9bb3-483d-9885-e34f147f6099">скачать</a>
                        его.
                    </video>
                    <div>
                        <span>«Общежитие им. монаха Бертольда Шварца», 1971</span>
                        <span>Москва, Староконюшенный пер. 2 с.1.</span>
                    </div>
                </div>
            </div>
            <div class="cont hg">
                <div class="el">
                    <div>
                        <span>Название места</span>
                        <span>Название фильма</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>